<!doctype html>
<html>

<%- include('../blocks/head', {title: 'Account'}); %>

<body>
    <%- include('../blocks/header', {}); %>
    <div class="container">
        <br/>
        <a href="/manage/login" class="link">&larr; Login</a>
        <h1>Manage your Account</h1>
        <hr/>
        <div>
            <div class="base-regular ink-orange size-m">Account details</div>
            <br />
            <div id="details" class="ink-black base-regular size-xs">
                <diV class="d">
                    <div class="d1">Account ID</div>
                    <div class="base-semilight ink-dark"><%- account._id %></div>
                </diV>
                <diV class="d">
                    <div class="d1">Service ID</div>
                    <div class="base-semilight ink-dark"><%- account.target_id %></div>
                </diV>
                <diV class="d">
                    <div class="d1">Service name</div>
                    <div class="base-semilight ink-dark"><%- account.storage_type %></div>
                </diV>
                <diV class="d">
                    <div class="d1">Email</div>
                    <div class="base-semilight ink-dark"><%- account.email %></div>
                </diV>
            </div>
        </div>
        <hr />
        <div>
            <div class="base-regular ink-orange size-m">Active sessions</div>
            <br />
            <div>
                <% if (!sessions.length) { %>
                    <div class="size-xs">No active sessions.</div>
                    <% } %>
                        <% sessions.forEach(function(session){ %>
                            <div class="base-semilight ink-dark size-xs">
                                <div class="size-s ink-black"><%- session.app.name %></div>
                                <div>Last seen <%- session.last_seen %></div>
                                <div>Added on <%- session.created_on %></div>
                                <div>ID: <%- session._id %></div>
                                <hr />
                            </div>
                            <% }); %>
            </div>
        </div>
        <hr />
        <div class="base-regular ink-orange size-m"
            style="display: flex; justify-content: space-between; align-items: center;">
            <div>My apps</div>
            <div>
                <a class="ink-white size-xs base-regular" id="button1" href="/manage/newApp">Create</a>
            </div>
        </div>
        <br />
        <div>
            <% if (!apps.length) { %>
                <div class="size-xs">No apps.</div>
                <% } %>
                    <% apps.forEach(function(app){ %>
                        <div class="base-light ink-dark size-xs"
                            style="display: grid; grid-template-columns: 3rem auto;">
                            <div class="center" style="padding-right: 1rem;">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M3 8.25V18a2.25 2.25 0 002.25 2.25h13.5A2.25 2.25 0 0021 18V8.25m-18 0V6a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 6v2.25m-18 0h18M5.25 6h.008v.008H5.25V6zM7.5 6h.008v.008H7.5V6zm2.25 0h.008v.008H9.75V6z" />
                                </svg>
                            </div>
                            <div>
                                <div class="base-semilight size-s ink-black"><%- app.name %></div>
                                <div class="ink-black"><%- app.description %></div>
                                <div>Created on: <%- new Date(app.created_on).toString().split('(')[0] %></div>
                                <div>ID: <%- app._id %></div>
                            </div>
                        </div>
                        <hr />
                        <% }); %>
        </div>
    </div>

</body>

</html>
<script>

</script>

<style>
    #footer {
        font-size: 0.9rem;
        margin-top: 2rem;
    }

    .d {
        display: flex;
        justify-content: space-between;
        padding: 0.4rem 0.5rem;
        border-bottom: 1px solid rgb(218, 218, 218);
    }

    .d:last-of-type {
        border-bottom: none;
    }

    #details {
        width: 90vw;
        max-width: 30rem;
        background: rgb(240, 240, 240);
        border-radius: 0.5rem;
    }

    #button1 {
        background-color: rgb(0, 153, 255);
        border-radius: 0.5rem;
        padding: 0.5rem 0.6rem;
        margin: 0.5rem 0rem;
        display: inline-block;
    }

    #button1:hover {
        background-color: rgb(94, 191, 255);
    }
</style>