<!doctype html>
<html>

<%- include('../blocks/head', {title: 'Account' }); %>

    <body>
        <%- include('../blocks/header', {}); %>
            <div class="container size-s">
                <br />
                <a href="/manage/login" class="link">&larr; Login</a>
                <h1>Manage your Account</h1>
                <hr />
                <div>
                    <div class="base-regular ink-orange size-l">Account details</div>
                    <br />
                    <div id="details" class="ink-black base-regular size-s">
                        <diV class="d">
                            <div class="d1">OneAuth ID</div>
                            <div class="base-semilight ink-dark"><%- account._id %></div>
                        </diV>
                        <diV class="d">
                            <div class="d1"><%- account.storage_type %> ID</div>
                            <div class="base-semilight ink-dark"><%- account.target_id %></div>
                        </diV>
                        <diV class="d">
                            <div class="d1">Service name</div>
                            <div class="base-semilight ink-dark"><%- account.storage_type %></div>
                        </diV>
                        <diV class="d">
                            <div class="d1">Email</div>
                            <div class="base-semilight ink-dark"><%- account.email %></div>
                        </diV>
                    </div>
                </div>
                <hr />
                <div>
                    <div class="base-regular ink-orange size-l">My active sessions</div>
                    <br />
                    <div>
                        <% if (!sessions.length) { %>
                            <div class="size-s">No active sessions.</div>
                            <% } %>
                                <% sessions.forEach(function(session){ %>
                                    <div class="session item base-light ink-dark">
                                        <div class="center ink-green" style="padding-right: 1rem;">
                                            <svg style="width: 3rem;" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M10.5 19.5h3m-6.75 2.25h10.5a2.25 2.25 0 002.25-2.25v-15a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 4.5v15a2.25 2.25 0 002.25 2.25z" />
                                            </svg>
                                        </div>
                                        <div class="size-xs">
                                            <div class="size-s ink-black"><%- session.app.name %></div>
                                            <div>Session ID: <%- session._id %></div>
                                            <div style="display: flex;">
                                                <% if (session.last_seen) { %>
                                                    <div style="padding-right: 1.5rem;;">
                                                        Last seen: <%- new
                                                            Date(session.last_seen).toString().split('(')[0] %>
                                                    </div>
                                                    <% } %>
                                                        <div>Added on: <%- new
                                                                Date(session.created_on).toString().split('(')[0] %>
                                                        </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                    </div>
                    </div>
                    <hr />
                    <div class="base-regular ink-orange size-l"
                        style="display: flex; justify-content: space-between; align-items: center;">
                        <div>My apps</div>
                        <div>
                            <a class="ink-white size-s base-semilight" id="button1" href="/manage/newApp">Create</a>
                        </div>
                    </div>
                    <br />
                    <div>
                        <% if (!apps.length) { %>
                            <div class="size-s">You haven't created any app yet.</div>
                            <% } %>
                                <% apps.forEach(function(app){ %>
                                    <a class="item base-light ink-dark size-xs" href="/manage/app/<%- app._id %>"
                                        style="display: grid; grid-template-columns: 3rem auto;">
                                        <div class="center ink-purple" style="padding-right: 1rem;">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M3 8.25V18a2.25 2.25 0 002.25 2.25h13.5A2.25 2.25 0 0021 18V8.25m-18 0V6a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 6v2.25m-18 0h18M5.25 6h.008v.008H5.25V6zM7.5 6h.008v.008H7.5V6zm2.25 0h.008v.008H9.75V6z" />
                                            </svg>
                                        </div>
                                        <div>
                                            <div class="base-semilight size-s ink-black"><%- app.name %></div>
                                            <div class="ink-black size-xs"><%- app.description %></div>
                                        </div>
                                    </a>
                                    <% }); %>
                    </div>
                </div>

    </body>

</html>
<script>

</script>

<style>
    #footer {
        font-size: 0.9rem;
        margin-top: 2rem;
    }

    .d {
        display: flex;
        justify-content: space-between;
        padding: 0.4rem 0.5rem;
        border-bottom: 1px solid rgb(218, 218, 218);
    }

    .d:last-of-type {
        border-bottom: none;
    }

    #details {
        max-width: 30rem;
        background: rgb(240, 240, 240);
        border-radius: 0.5rem;
    }

    #button1 {
        background-color: rgb(0, 153, 255);
        border-radius: 0.5rem;
        padding: 0.5rem 0.6rem;
        margin: 0.5rem 0rem;
        display: inline-block;
    }

    #button1:hover {
        background-color: rgb(94, 191, 255);
    }

    .session {
        padding-left: 1rem;
        font-size: 0.8rem;
        display: grid;
        grid-template-columns: 3rem auto;
    }

    .item {
        border: solid 1px transparent;
        padding: 0.5rem;
        border-radius: 0.2rem;
        margin-bottom: 0.1rem;
        background-color: rgb(240, 240, 240);
    }

    .item:hover {
        border: solid 1px rgb(200, 200, 200);
    }
</style>