<!doctype html>
<html>

<%- include('blocks/head', {title: 'Opening app' }); %>

  <body class=" size-s">
    <%- include('blocks/header'); %>
      <div class="center-col" style="min-height: 80vh;">
        <div style="width: 4rem; color: rgb(164, 162, 160); padding-bottom: 1rem;">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
          </svg>
        </div>
        <div class="center base-semibold ink-black size-m">Open "<%- app.name %>" app?</div>
        <br />
        <br />
        <a class="base-semibold ink-dark size-s" href="<%- redirectUrl %>">
          <button style="width: 10rem; max-width: 95%; padding: 0.6rem;">Launch</button>
        </a>
        <br />
        <div>
          Code:
          <code><%- partialCode2 %></code>
        </div>
      </div>
      <div id="footer" class="center base-semilight ink-dark">Made by Asrient.</div>
  </body>

</html>


<style>
  #footer {
    font-size: 0.9rem;
    margin-top: 2rem;
  }

  .d {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0.5rem;
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  .d:last-of-type {
    border-bottom: none;
  }

  #details {
    width: 90vw;
    max-width: 18rem;
    background: rgb(240, 240, 240);
    border-radius: 0.5rem;
  }
</style>